<ion-view view-title="Contacto" class="contact-view" hide-nav-bar="true" has-header="false">

  <ion-content has-subheader="false">


      <div class="bar bar-header directoy-bar-header">

      <a class="button button-icon ion-android-arrow-dropleft-circle" ng-click="back()">

      </a>

      <h1 class="title">Contacto</h1>

      <i class="ion-android-arrow-dropdown title"></i>

      <a href="#" class="button button-icon icon-right ion-android-cancel" ng-if="sesionActive" ng-click="cerrarSesion()">

      </a>

    </div>
    <div class="row responsive-sm" id="img-contacto">

    	<div class="col" >

    		<img src="img/logo-blanco.png" >

    	</div>

    </div>

  <div class="welcome-msg">&iquest;Como te gustaria contactarnos?</div>

    <div class="row centro-atte-client">

    	<div class="col col-50 contact-btn">
        <a href="#">
          <img src="img/icon-chat.png"/>
    		  <span>Chat en vivo</span>
        </a>
    	</div>
      <div class="col col-50 contact-btn">
      <a href="#">
        <img src="img/icon-contacto.png"/>
        <span>Llamar</span>
        <span>(0800) 123 45 67</span>
      </a>
      </div>
    </div>

    <div class="contact-social">

        <div class="row responsive-sm list-ubicacion">

            <div class="col text-center">

                <span class="step size-48">

                    <i class="icon ion-android-pin"></i>

                </span>

                <p>Torre Atiempo</p>

                <p>Las Mercedes,</p>

                <p> <strong> Caracas Venezuela. </strong></p>

            </div>

        </div>

        <div class="row  list-ubicacion">

            <div class="col-25 text-center">

                <span class="step size-48">

                    <i class="icon ion-social-twitter red"></i>

                </span>



            </div>

            <div class="col-25 text-center">

                <span class="step size-48">

                    <i class="icon ion-social-facebook red"></i>

                </span>



            </div>

            <div class="col-25  text-center">

                <span class="step size-48">

                    <i class="icon ion-social-instagram-outline red"></i>

                </span>



            </div>

            <div class="col-25 text-center">

                <span class="step size-48">

                    <i class="icon ion-social-youtube-outline red"></i>

                </span>



            </div>

        </div>




    </div>

  </ion-content>

</ion-view>
