<ion-view view-title="directory" class="directory-view" hide-nav-bar="true" has-header="false">

	<ion-content has-subheader="false">

		<div class="block-directory-a">

			<div class="bar bar-header directoy-bar-header">

				<a href="#/home-user" class="button button-icon ion-android-arrow-dropleft-circle">

				</a>

				<h1 class="title">Farmacia</h1>

				<i class="ion-android-arrow-dropdown title"></i>

				<a href="#" class="button button-icon icon-right ion-android-cancel" ng-click="cerrarSesion()">
					
				</a>

			</div>

			<div class="shadow-bottom">

				<div class="row">

					<div class="col">

						<br><br><br>

						 <p class="text-18"> <strong> Solicitud de medicinas para: </strong> </p>

					</div>

				</div>

			</div>

			<div class="shadow-bottom">

				<div class="row">

					<div class="col">

						<br>
						<p class="sub-title"> <strong> Datos del medicmento: </strong></p>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col col-75">

						<label class="item item-input item-select bordered-radio">

						    <div class="input-label">
						      Medicamento:
						    </div>

						    <select>
						      <option>Seelccione</option>
						      <option>Blue</option>
						      <option>Green</option>
						      <option>Red</option>
						    </select>

						</label>

					</div>

					<div class="col col-25 col-center" style="text-align: right;">

						<button class="button icon-right ion-android-cancel button-clear button-dark activated">Eliminar</button>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Dosis:</span>

							<input type="tel">

						</label>

					</div>

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Frecuencia:</span>

							<input type="tel">

						</label>

					</div>

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Duración:</span>

							<input type="tel">

						</label>

						<br>

					</div>

				</div>

			</div>

			<div class="shadow-bottom">

				<div class="row responsive-sm">

					<div class="col col-75">

					<br>

						<label class="item item-input item-select bordered-radio">

						    <div class="input-label">
						      Medicamento:
						    </div>

						    <select>
						      <option>Seelccione</option>
						      <option>Blue</option>
						      <option>Green</option>
						      <option>Red</option>
						    </select>

						</label>

					</div>

					<div class="col col-25 col-center" style="text-align: right;">

						<button class="button icon-right ion-android-cancel button-clear button-dark activated">Eliminar</button>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Dosis:</span>

							<input type="tel">

						</label>

					</div>

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Frecuencia:</span>

							<input type="tel">

						</label>

					</div>

					<div class="col">
					<br>

						<label class="item item-input bordered-radio">

							<span class="input-label">Duración:</span>

							<input type="tel">

						</label>

						<br>

					</div>

				</div>

			</div>

			<div class="row shadow-bottom-new-cita block-othert-medic">

				<div class="col">

					<button class="button button-clear button-light icon-left ion-ios-plus-outline" ng-click="addOtherMedicina()">
						<strong>Agregar otro medicamento</strong>
					</button>

				</div>

			</div>

			<div class="row responsive-sm">

				<div class="col col-75">

					<br>

					<p class="sub-title text-18"> <strong> Récipe Médico: Adjuntar </strong></p>

				</div>

			</div>

			<div class="row shadow-bottom block-adjunt">

				<div class="col border-galery buton-galery">

					<button class="button button-clear button-light icon-left ion-images">
						<strong>Galeria</strong>
					</button>

				</div>

				<div class="col buton-galery">

					<button class="button button-clear button-light icon-left ion-ios-camera-outline">
						<strong>Tomar foto</strong>
					</button>

				</div>

			</div>

			<div class="row">

				<div class="col">

					<br>

				    <p class="sub-title text-18"> <strong> Ubicación: </strong></p>

				</div>

			</div>

			<div class="row responsive-sm">

				<div class="col">

				    <label class="item item-input item-select bordered-radio">

						<div class="input-label">
						   Cuidad:
						</div>

						<select>
						  <option>Seelccione</option>
						  <option>Blue</option>
						  <option>Green</option>
						  <option>Red</option>
						</select>

					</label>

				</div>

				<div class="col">

				    <label class="item item-input item-select bordered-radio">

						<div class="input-label">
						   Estado:
						</div>

						<select>
						  <option>Seelccione</option>
						  <option>Blue</option>
						  <option>Green</option>
						  <option>Red</option>
						</select>

					</label>

				</div>

				<div class="col">

				    <label class="item item-input item-select bordered-radio">

						<div class="input-label">
						   Farmacia:
						</div>

						<select>
						  <option>Seelccione</option>
						  <option>Blue</option>
						  <option>Green</option>
						  <option>Red</option>
						</select>

					</label><br>

				</div>

			</div>

		</div>

		<div class="row block-citas-next">

			<div class="col">

				<span class="button-footer" ng-click="solidMedci()">Atrás</span>
				<span class="button-footer" ng-click="envMedic()">Siguiente</span>

			</div>

		</div>

	</ion-content>

	<div class="bar bar-footer"></div>

</ion-view>
