<ion-view view-title="directory" class="directory-view" hide-nav-bar="true" has-header="false">

	<ion-content has-subheader="false">

		<div class="block-directory-a">

			<div class="bar bar-header directoy-bar-header">

				<a href="#/home-user" class="button button-icon ion-android-arrow-dropleft-circle">

				</a>

				<h1 class="title">Farmacia</h1>

				<i class="ion-android-arrow-dropdown title"></i>

				<a href="#" class="button button-icon icon-right ion-android-cancel" ng-click="cerrarSesion()">
				
				</a>

			</div>

			<div class="shadow-bottom">

				<div class="row">

					<div class="col">

						<br><br><br>

						 <p class="text-18"> <strong> Solicitud de cita para: </strong> </p>

					</div>

				</div>

			</div>

			<div class="row">

				<div class="col">

					<br>

					<p class="sub-title text-18"><strong>Solicitud de medicinas:</strong></p>

				</div>

			</div>

			<div class="shadow-bottom">

				<div class="row">

					<div class="col">

						 <p>Medicamento: Atamel 500mg</p>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">

						<p>Dosis: 2 comprimidos </p>

					</div>

					<div class="col">

						<p>Frecuencia: Cada 8 horas</p>

					</div>

					<div class="col">

						<p>Duración: 15 dias </p>

					</div>

				</div>

			</div>

			<div class="shadow-bottom">

				<br>

				<div class="row">

					<div class="col">

						 <p>Medicamento: Atamel 500mg</p>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">

						<p>Dosis: 2 comprimidos </p>

					</div>

					<div class="col">

						<p>Frecuencia: Cada 8 horas</p>

					</div>

					<div class="col">

						<p>Duración: 15 dias </p>

					</div>

				</div>

			</div>

			<div class="row shadow-bottom">

				<div class="col">
				<br>

						<p class="sub-title text-18"><strong>Récipe Médico: Adjuntar Imagen</strong></p>

				</div>

			</div>

			<div class="row">

				<div class="col">

					<br><br>

				    <p class="sub-title text-18"> <strong> Ubicación: </strong></p>

				</div>

			</div>

			<div class="row shadow-bottom responsive-sm block-ubic">

				<div class="col">

				    <p>Cuidad:</p>

				</div>

				<div class="col">

				    <p>Estado:</p>

				</div>

				<div class="col">

				    <p>Farmacia:</p> <br>

				</div>

			</div>

		</div>

		<div class="row block-citas-next">

			<div class="col">

				<span class="button-footer" ng-click="datosMedicina()">Atrás</span>
				<span class="button-footer" ng-click="enviar()">Enviar</span>

			</div>

		</div>

	</ion-content>

	<div class="bar bar-footer"></div>

</ion-view>
