<ion-view view-title="Login" class="login-view" hide-nav-bar="true" has-header="false">

  <ion-content class="login-content">

    <div class="header-home">

        <div class="header-img">

          <div class="assist-phone">

            <div class="row">

              <div class="col-80 col-offset-10">

                <a class=" ion-ios7-telephone" href="tel:08001233445">Asistencia 24h <span>0800-123-3445</span></a>

              </div>

            </div>

          </div>

          <div id="img-home"><img src="img/atiempo.png" /></div>

        </div>

        <div class="welcome-msg">

        Bienvenido

      </div>
    </div>
    <div class="menu-home">
      <div class="msg">Haz click en la seccion que deseas ingresar</div>
      <div class="menu-btn row">
          <div class="col-10"></div>
          <div class="col"><a href="#/login"><img src="img/login.png"/></a></div>
          <div class="col"><a href="#/directory"><img src="img/directory.png"/></a></div>
          <div class="col"><a href="#/contact"><img src="img/contact.png"/></a></div>
          <div class="col-10"></div>
      </div>
      <div class="menu-text row">
          <div class="col-10"></div>
          <div class="col"><a href="#/login">Iniciar Sesi&oacute;n</a></div>
          <div class="col"><a href="#/directory">Directorio</a></div>
          <div class="col"><a href="#/contact">Contacto</a></div>
          <div class="col-10"></div>
      </div>
    </div>


  </ion-content>
  <div class="bar bar-footer"></div>
</ion-view>
