<ion-view view-title="Corporacion Atiempo" class="prehome-view" hide-nav-bar="true" has-header="false">

  <ion-content class="prehome-content">

          <div id="img-home"><img src="img/logo-blanco.png" /></div>
            <div class="row">

              <div class="col-60 col-offset-20">
                <div class="prehome-text">
                <p>Est&aacute;s a un</p>
                <img src="img/img-click.png"/>
                <p>de distancia de alcanzar tu bienestar,disfruta de nuestros servicios
de la forma más sencilla</p>
                </div>

                <div class="btn-azul"> <a href="#/login" class="button">Iniciar Sesi&oacute;n</a></div>

              </div>

            </div>

  </ion-content>

</ion-view>
