<ion-view view-title="vijero" class="directory-view viajero" hide-nav-bar="true" has-header="false">

	<ion-content has-subheader="false">

		<div class="block-directory-a">

			<div class="bar bar-header directoy-bar-header">

				<a href="#/home-user" class="button button-icon ion-android-arrow-dropleft-circle">

				</a>

				<h1 class="title">Asistencia al viajero</h1>

				<i class="ion-android-arrow-dropdown title"></i>

				<a href="#" class="button button-icon icon-right ion-android-cancel" ng-click="cerrarSesion()">

				</a>

			</div>

			<div class="shadow-bottom" ng-repeat="item in afiliados">

				<br><br><br>

				<div class="row responsive-sm padding-top-2">

					<div class="col">

						<p class="sub-title text-18"> <strong> Seleccione el contrato: </strong> </p>

						<li class="item item-checkbox input-custom">

							<label class="checkbox">

								<input type="radio" name="afiliado" ng-model="afiliado.value" ng-value="item">

							</label>

						</li>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">

						<p>Numero de Contrato: <span ng-bind="numContra"></span></p>

					</div>

					<div class="col">

						<p>Aseguradora: <span ng-bind="aseguradora"></span></p>

					</div>

				</div>

				<div class="row responsive-sm">

					<div class="col">

						<p>Nombre: <span ng-bind="item.nombre"></span></p>

					</div>

					<div class="col" ng-if="item.cedula == item.cedula_titular">

						<p>Cedula del Tiular: <span ng-bind="item.cedula_titular"></span></p>

					</div>

					<div class="col" ng-if="item.cedula != item.cedula_titular">

						<p>Cedula del Tiular: <span ng-bind="item.cedula_titular"></span></p>
						<p>Cedula del Beneficiario: <span ng-bind="item.cedula"></span></p>

					</div>

				</div>

			</div>

		</div>

		<div class="row block-citas-next">

			<div class="col">

				<span class="button-footer" ng-click="openViewDatosViaje()" ng-if="afiliado.value">Siguiente</span>

			</div>

		</div>

	</ion-content>

	<div class="bar bar-footer"></div>

</ion-view>
