<ion-view view-title="record" class="directory-view tratamientos" hide-nav-bar="true" has-header="false">

    <ion-content has-subheader="false">

        <div class="block-directory-a" style="min-height: 640px;">

            <div class="bar bar-header directoy-bar-header">

                <a class="button button-icon ion-android-arrow-dropleft-circle" ng-click="back()"></a>

                <h1 class="title">Registro</h1>

            </div>

               
                    <iframe style="position: absolute; height: 110%; border: none; width: 100%;" src="{{url | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
               

        </div>

    </ion-content>

</ion-view>
